.homeCont{
    background: #F6F9FF;
    width: 100%;
    min-height: 810px;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
    z-index:-1;
    .homeHeader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 270px;        
        background-color: #698FF2;
        
    }

    .logo{
        display: inline-flex;        
        color: #FFFFFF;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        z-index:1;
        p{
            font-size: 24px;
            padding-top: 15px;
            margin-right: 35px;
        }
        img{
            margin-left: 35px;
        }
    }           
    .searchBar{
        margin-bottom: 10px;
        z-index:1;
    }
    .totalCont{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        .dropDown{
            width:270px;
            margin-top: -85px;
            margin-bottom: 25px;
            z-index:1;
            .css-2b097c-container{
                width: 270px;
                .css-yk16xz-control{
                    background-color: #698FF2;
                    color: #FFFFFF;
                }
                .css-1uccc91-singleValue{
                    color: #FFFFFF;
                }
                .css-1wa3eu0-placeholder{
                    color: #FFFFFF;
                }
            }
        }
        .selection{
            z-index:1;
        }
    }
    .historyCont{
        max-width:320px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-top: 15px;
        .homeDate{
            margin-bottom: 4px;
        }
        .DeletePopUp{
            position:fixed ;
            bottom:235px;
            z-index: 1;
        }
              
    }
    .addItem{
        position: fixed;
        left: 278px;
        top: 720px;
    }

}